# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pr√©-processamento dos Dados

### Importar as libs

In [436]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [437]:
tf.__version__

'2.6.0'

### Importar o dataset

In [438]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

    RowNumber  CustomerId  ... EstimatedSalary  Exited
0           1    15634602  ...       101348.88       1
1           2    15647311  ...       112542.58       0
2           3    15619304  ...       113931.57       1
3           4    15701354  ...        93826.63       0
4           5    15737888  ...        79084.10       0
5           6    15574012  ...       149756.71       1
6           7    15592531  ...        10062.80       0
7           8    15656148  ...       119346.88       1
8           9    15792365  ...        74940.50       0
9          10    15592389  ...        71725.73       0
10         11    15767821  ...        80181.12       0
11         12    15737173  ...        76390.01       0
12         13    15632264  ...        26260.98       0
13         14    15691483  ...       190857.79       0
14         15    15600882  ...        65951.65       0
15         16    15643966  ...        64327.26       0
16         17    15737452  ...         5097.67       1
17         18    15788218  ...        14406.41       0
18         19    15661507  ...       158684.81       0
19         20    15568982  ...        54724.03       0
20         21    15577657  ...       170886.17       0
21         22    15597945  ...       138555.46       0
22         23    15699309  ...       118913.53       1
23         24    15725737  ...         8487.75       0
24         25    15625047  ...       187616.16       0
25         26    15738191  ...       124508.29       0
26         27    15736816  ...       170041.95       0
27         28    15700772  ...        38433.35       0
28         29    15728693  ...       100187.43       0
29         30    15656300  ...        53483.21       0
30         31    15589475  ...       140469.38       1
31         32    15706552  ...       156731.91       0
32         33    15750181  ...        81898.81       0
33         34    15659428  ...        34410.55       0
34         35    15732963  ...       142033.07       0
35         36    15794171  ...        27822.99       1
36         37    15788448  ...       114066.77       0
37         38    15729599  ...        98453.45       0
38         39    15717426  ...        40812.90       0
39         40    15585768  ...       178074.04       0
40         41    15619360  ...        70154.22       0
41         42    15738148  ...       181297.65       1
42         43    15687946  ...        94153.83       0
43         44    15755196  ...       194365.76       1
44         45    15684171  ...       158338.39       0
45         46    15754849  ...       126517.46       0
46         47    15602280  ...       119708.21       1
47         48    15771573  ...       117622.80       1
48         49    15766205  ...        90878.13       0
49         50    15771873  ...       194099.12       0

[50 rows x 14 columns]

In [439]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [440]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categ√≥ricos

In [441]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [442]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [443]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [444]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [445]:
np.shape(X_train)

(8000, 12)

In [446]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [447]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [448]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [449]:
ann.add(tf.keras.layers.Dense(units=6, activation='sigmoid'))

### Adding the output layer

In [450]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [451]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [452]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 2ms/step - loss: 0.5282 - accuracy: 0.7960
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4695 - accuracy: 0.7960
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4441 - accuracy: 0.7979
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4310 - accuracy: 0.8073
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4246 - accuracy: 0.8148
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4202 - accuracy: 0.8141
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4161 - accuracy: 0.8149
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4121 - accuracy: 0.8167
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4080 - accuracy: 0.8174
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4033 - accuracy: 0.8191
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3977 - accuracy: 0.8249
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3913 - accuracy: 0.8310
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3849 - accuracy: 0.8364
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3785 - accuracy: 0.8391
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3732 - accuracy: 0.8440
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3688 - accuracy: 0.8487
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3648 - accuracy: 0.8519
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3616 - accuracy: 0.8545
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3590 - accuracy: 0.8541
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3566 - accuracy: 0.8572
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3544 - accuracy: 0.8572
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3528 - accuracy: 0.8580
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3510 - accuracy: 0.8584
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3493 - accuracy: 0.8601
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3480 - accuracy: 0.8602
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3470 - accuracy: 0.8612
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3459 - accuracy: 0.8602
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3450 - accuracy: 0.8612
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8614
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3436 - accuracy: 0.8608
Epoch 31/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3429 - accuracy: 0.8608
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3423 - accuracy: 0.8611
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3417 - accuracy: 0.8618
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3412 - accuracy: 0.8622
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3409 - accuracy: 0.8616
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8622
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3400 - accuracy: 0.8619
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3398 - accuracy: 0.8629
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3393 - accuracy: 0.8621
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3389 - accuracy: 0.8627
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8627
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3384 - accuracy: 0.8622
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3383 - accuracy: 0.8637
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8624
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3380 - accuracy: 0.8620
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3377 - accuracy: 0.8625
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8630
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8622
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3374 - accuracy: 0.8639
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8626
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3372 - accuracy: 0.8621
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8636
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3371 - accuracy: 0.8639
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8639
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8631
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8637
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8636
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3364 - accuracy: 0.8637
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8645
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8648
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3365 - accuracy: 0.8646
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8636
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8630
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3362 - accuracy: 0.8651
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3363 - accuracy: 0.8646
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8651
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8639
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8645
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8633
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3358 - accuracy: 0.8655
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8648
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8643
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8650
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3357 - accuracy: 0.8655
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8646
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8636
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8646
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8646
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8636
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8645
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3354 - accuracy: 0.8635
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8636
Epoch 83/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3350 - accuracy: 0.8640
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8651
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8654
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8644
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3351 - accuracy: 0.8652
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8648
Epoch 89/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3349 - accuracy: 0.8640
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8641
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8648
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8646
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8649
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3349 - accuracy: 0.8645
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8639
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3350 - accuracy: 0.8637
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8652
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8633
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3347 - accuracy: 0.8646
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8652

# Parte 3 - Fazendo predi√ß√µes e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [453]:
y_pred = ann.predict(X_test)
y_pred

array([[0.28503412],
       [0.35006326],
       [0.13677546],
       ...,
       [0.11114708],
       [0.18636647],
       [0.24616843]], dtype=float32)

In [454]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [455]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1519   76]
 [ 198  207]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)