# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pr√©-processamento dos Dados

### Importar as libs

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.4.1'

### Importar o dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0
20,21,15577657,McDonald,732,France,Male,41,8,0.00,2,1,1,170886.17,0
21,22,15597945,Dellucci,636,Spain,Female,32,8,0.00,2,1,0,138555.46,0
22,23,15699309,Gerasimov,510,Spain,Female,38,4,0.00,1,1,0,118913.53,1
23,24,15725737,Mosman,669,France,Male,46,3,0.00,2,0,1,8487.75,0
24,25,15625047,Yen,846,France,Female,38,5,0.00,1,1,1,187616.16,0
25,26,15738191,Maclean,577,France,Male,25,3,0.00,2,0,1,124508.29,0
26,27,15736816,Young,756,Germany,Male,36,2,136815.64,1,1,1,170041.95,0
27,28,15700772,Nebechi,571,France,Male,44,9,0.00,2,0,0,38433.35,0
28,29,15728693,McWilliams,574,Germany,Female,43,3,141349.43,1,1,1,100187.43,0
29,30,15656300,Lucciano,411,France,Male,29,0,59697.17,2,1,1,53483.21,0
30,31,15589475,Azikiwe,591,Spain,Female,39,3,0.00,3,1,0,140469.38,1
31,32,15706552,Odinakachukwu,533,France,Male,36,7,85311.70,1,0,1,156731.91,0
32,33,15750181,Sanderson,553,Germany,Male,41,9,110112.54,2,0,0,81898.81,0
33,34,15659428,Maggard,520,Spain,Female,42,6,0.00,2,1,1,34410.55,0
34,35,15732963,Clements,722,Spain,Female,29,9,0.00,2,1,1,142033.07,0
35,36,15794171,Lombardo,475,France,Female,45,0,134264.04,1,1,0,27822.99,1
36,37,15788448,Watson,490,Spain,Male,31,3,145260.23,1,0,1,114066.77,0
37,38,15729599,Lorenzo,804,Spain,Male,33,7,76548.60,1,0,1,98453.45,0
38,39,15717426,Armstrong,850,France,Male,36,7,0.00,1,1,1,40812.90,0
39,40,15585768,Cameron,582,Germany,Male,41,6,70349.48,2,0,1,178074.04,0
40,41,15619360,Hsiao,472,Spain,Male,40,4,0.00,1,1,0,70154.22,0
41,42,15738148,Clarke,465,France,Female,51,8,122522.32,1,0,0,181297.65,1
42,43,15687946,Osborne,556,France,Female,61,2,117419.35,1,1,1,94153.83,0
43,44,15755196,Lavine,834,France,Female,49,2,131394.56,1,0,0,194365.76,1
44,45,15684171,Bianchi,660,Spain,Female,61,5,155931.11,1,1,1,158338.39,0
45,46,15754849,Tyler,776,Germany,Female,32,4,109421.13,2,1,1,126517.46,0
46,47,15602280,Martin,829,Germany,Female,27,9,112045.67,1,1,1,119708.21,1
47,48,15771573,Okagbue,637,Germany,Female,39,9,137843.80,1,1,1,117622.80,1
48,49,15766205,Yin,550,Germany,Male,38,2,103391.38,1,0,1,90878.13,0
49,50,15771873,Buccho,776,Germany,Female,37,2,103769.22,2,1,0,194099.12,0

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categ√≥ricos

In [6]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [7]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
np.shape(X_train)

(8000, 12)

In [11]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [12]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [14]:
ann.add(tf.keras.layers.Dense(units=6, activation='tanh'))

### Adding the output layer

In [15]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

### Compiling the ANN

In [16]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [17]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 150)

Epoch 1/150
250/250 [==============================] - 2s 3ms/step - loss: 0.5638 - accuracy: 0.7465
Epoch 2/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4619 - accuracy: 0.8051
Epoch 3/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4388 - accuracy: 0.8119
Epoch 4/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4292 - accuracy: 0.8170
Epoch 5/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4358 - accuracy: 0.8164
Epoch 6/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4279 - accuracy: 0.8144
Epoch 7/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4133 - accuracy: 0.8258
Epoch 8/150
250/250 [==============================] - 1s 6ms/step - loss: 0.4131 - accuracy: 0.8263
Epoch 9/150
250/250 [==============================] - 1s 3ms/step - loss: 0.4146 - accuracy: 0.8184
Epoch 10/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3977 - accuracy: 0.8376
Epoch 11/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3776 - accuracy: 0.8430
Epoch 12/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3693 - accuracy: 0.8515
Epoch 13/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3675 - accuracy: 0.8497
Epoch 14/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3719 - accuracy: 0.8447
Epoch 15/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8594
Epoch 16/150
250/250 [==============================] - 1s 5ms/step - loss: 0.3462 - accuracy: 0.8581
Epoch 17/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3637 - accuracy: 0.8481
Epoch 18/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3528 - accuracy: 0.8564
Epoch 19/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3494 - accuracy: 0.8598
Epoch 20/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3473 - accuracy: 0.8567
Epoch 21/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3487 - accuracy: 0.8586
Epoch 22/150
250/250 [==============================] - 1s 4ms/step - loss: 0.3464 - accuracy: 0.8580
Epoch 23/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3455 - accuracy: 0.8588
Epoch 24/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3476 - accuracy: 0.8587
Epoch 25/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3526 - accuracy: 0.8570
Epoch 26/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3452 - accuracy: 0.8590
Epoch 27/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3576 - accuracy: 0.8531
Epoch 28/150
250/250 [==============================] - 1s 4ms/step - loss: 0.3423 - accuracy: 0.8613
Epoch 29/150
250/250 [==============================] - 1s 5ms/step - loss: 0.3411 - accuracy: 0.8606
Epoch 30/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3360 - accuracy: 0.8656
Epoch 31/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3514 - accuracy: 0.8578
Epoch 32/150
250/250 [==============================] - 1s 4ms/step - loss: 0.3364 - accuracy: 0.8646
Epoch 33/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3413 - accuracy: 0.8582
Epoch 34/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3304 - accuracy: 0.8705
Epoch 35/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3472 - accuracy: 0.8599
Epoch 36/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3308 - accuracy: 0.8712
Epoch 37/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3385 - accuracy: 0.8639
Epoch 38/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3454 - accuracy: 0.8549
Epoch 39/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3239 - accuracy: 0.8710
Epoch 40/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3453 - accuracy: 0.8591
Epoch 41/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3446 - accuracy: 0.8598
Epoch 42/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3385 - accuracy: 0.8623
Epoch 43/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3263 - accuracy: 0.8701
Epoch 44/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3439 - accuracy: 0.8667
Epoch 45/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3302 - accuracy: 0.8648
Epoch 46/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3437 - accuracy: 0.8594
Epoch 47/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3237 - accuracy: 0.8704
Epoch 48/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8656
Epoch 49/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3369 - accuracy: 0.8615
Epoch 50/150
250/250 [==============================] - 1s 6ms/step - loss: 0.3435 - accuracy: 0.8631
Epoch 51/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3331 - accuracy: 0.8645
Epoch 52/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3313 - accuracy: 0.8661
Epoch 53/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3440 - accuracy: 0.8575
Epoch 54/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3342 - accuracy: 0.8670
Epoch 55/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3404 - accuracy: 0.8629
Epoch 56/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3378 - accuracy: 0.8625
Epoch 57/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3363 - accuracy: 0.8618
Epoch 58/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3423 - accuracy: 0.8628
Epoch 59/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3463 - accuracy: 0.8548
Epoch 60/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3451 - accuracy: 0.8551
Epoch 61/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3432 - accuracy: 0.8574
Epoch 62/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3346 - accuracy: 0.8636
Epoch 63/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3446 - accuracy: 0.8594
Epoch 64/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8649
Epoch 65/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3369 - accuracy: 0.8615
Epoch 66/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3357 - accuracy: 0.8613
Epoch 67/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8625
Epoch 68/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3335 - accuracy: 0.8653
Epoch 69/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8650
Epoch 70/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3292 - accuracy: 0.8695
Epoch 71/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3245 - accuracy: 0.8694
Epoch 72/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3448 - accuracy: 0.8567
Epoch 73/150
250/250 [==============================] - 1s 6ms/step - loss: 0.3448 - accuracy: 0.8640
Epoch 74/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3298 - accuracy: 0.8673
Epoch 75/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3488 - accuracy: 0.8597
Epoch 76/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3302 - accuracy: 0.8636
Epoch 77/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3310 - accuracy: 0.8631
Epoch 78/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3316 - accuracy: 0.8662
Epoch 79/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3334 - accuracy: 0.8637
Epoch 80/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8679
Epoch 81/150

250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8592
Epoch 82/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3312 - accuracy: 0.8694
Epoch 83/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3144 - accuracy: 0.8724
Epoch 84/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8667
Epoch 85/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3371 - accuracy: 0.8614
Epoch 86/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8629
Epoch 87/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8602
Epoch 88/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8677
Epoch 89/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3377 - accuracy: 0.8651
Epoch 90/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3232 - accuracy: 0.8678
Epoch 91/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8655
Epoch 92/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3203 - accuracy: 0.8696
Epoch 93/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3409 - accuracy: 0.8596
Epoch 94/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3335 - accuracy: 0.8631
Epoch 95/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3384 - accuracy: 0.8655
Epoch 96/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3270 - accuracy: 0.8693
Epoch 97/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8705
Epoch 98/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3384 - accuracy: 0.8593
Epoch 99/150
250/250 [==============================] - 1s 5ms/step - loss: 0.3363 - accuracy: 0.8631
Epoch 100/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3289 - accuracy: 0.8660
Epoch 101/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3302 - accuracy: 0.8645
Epoch 102/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3280 - accuracy: 0.8662
Epoch 103/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3286 - accuracy: 0.8704
Epoch 104/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3333 - accuracy: 0.8671
Epoch 105/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3290 - accuracy: 0.8648
Epoch 106/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3309 - accuracy: 0.8678
Epoch 107/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3263 - accuracy: 0.8642
Epoch 108/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3485 - accuracy: 0.8547
Epoch 109/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3348 - accuracy: 0.8624
Epoch 110/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3228 - accuracy: 0.8687
Epoch 111/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8636
Epoch 112/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3387 - accuracy: 0.8614
Epoch 113/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8616
Epoch 114/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8652
Epoch 115/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3385 - accuracy: 0.8620
Epoch 116/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3458 - accuracy: 0.8559
Epoch 117/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3379 - accuracy: 0.8596
Epoch 118/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3262 - accuracy: 0.8646
Epoch 119/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3326 - accuracy: 0.8645
Epoch 120/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8658
Epoch 121/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8638
Epoch 122/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3318 - accuracy: 0.8683
Epoch 123/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3355 - accuracy: 0.8632
Epoch 124/150
250/250 [==============================] - 1s 5ms/step - loss: 0.3242 - accuracy: 0.8652
Epoch 125/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3373 - accuracy: 0.8632
Epoch 126/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3361 - accuracy: 0.8626
Epoch 127/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3288 - accuracy: 0.8680
Epoch 128/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3365 - accuracy: 0.8596
Epoch 129/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3368 - accuracy: 0.8622
Epoch 130/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3317 - accuracy: 0.8636
Epoch 131/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3371 - accuracy: 0.8541
Epoch 132/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3324 - accuracy: 0.8617
Epoch 133/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3292 - accuracy: 0.8684
Epoch 134/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3251 - accuracy: 0.8686
Epoch 135/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8670
Epoch 136/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3246 - accuracy: 0.8661
Epoch 137/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3554 - accuracy: 0.8535
Epoch 138/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3261 - accuracy: 0.8649
Epoch 139/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3372 - accuracy: 0.8609
Epoch 140/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3270 - accuracy: 0.8664
Epoch 141/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3252 - accuracy: 0.8680
Epoch 142/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3318 - accuracy: 0.8656
Epoch 143/150
250/250 [==============================] - 1s 3ms/step - loss: 0.3392 - accuracy: 0.8604
Epoch 144/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3305 - accuracy: 0.8692
Epoch 145/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3277 - accuracy: 0.8665
Epoch 146/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3360 - accuracy: 0.8586
Epoch 147/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3359 - accuracy: 0.8636
Epoch 148/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3279 - accuracy: 0.8677
Epoch 149/150
250/250 [==============================] - 1s 5ms/step - loss: 0.3345 - accuracy: 0.8622
Epoch 150/150
250/250 [==============================] - 1s 2ms/step - loss: 0.3322 - accuracy: 0.8638

# Parte 3 - Fazendo predi√ß√µes e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [18]:
y_pred = ann.predict(X_test)
y_pred

array([[0.26076633],
       [0.32211298],
       [0.13948578],
       ...,
       [0.14858776],
       [0.18425173],
       [0.27124557]], dtype=float32)

In [19]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1493  102]
 [ 187  218]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)