# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pr√©-processamento dos Dados

### Importar as libs

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.6.0'

### Importar o dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head(50)

    RowNumber  CustomerId  ... EstimatedSalary  Exited
0           1    15634602  ...       101348.88       1
1           2    15647311  ...       112542.58       0
2           3    15619304  ...       113931.57       1
3           4    15701354  ...        93826.63       0
4           5    15737888  ...        79084.10       0
5           6    15574012  ...       149756.71       1
6           7    15592531  ...        10062.80       0
7           8    15656148  ...       119346.88       1
8           9    15792365  ...        74940.50       0
9          10    15592389  ...        71725.73       0
10         11    15767821  ...        80181.12       0
11         12    15737173  ...        76390.01       0
12         13    15632264  ...        26260.98       0
13         14    15691483  ...       190857.79       0
14         15    15600882  ...        65951.65       0
15         16    15643966  ...        64327.26       0
16         17    15737452  ...         5097.67       1
17         18    15788218  ...        14406.41       0
18         19    15661507  ...       158684.81       0
19         20    15568982  ...        54724.03       0
20         21    15577657  ...       170886.17       0
21         22    15597945  ...       138555.46       0
22         23    15699309  ...       118913.53       1
23         24    15725737  ...         8487.75       0
24         25    15625047  ...       187616.16       0
25         26    15738191  ...       124508.29       0
26         27    15736816  ...       170041.95       0
27         28    15700772  ...        38433.35       0
28         29    15728693  ...       100187.43       0
29         30    15656300  ...        53483.21       0
30         31    15589475  ...       140469.38       1
31         32    15706552  ...       156731.91       0
32         33    15750181  ...        81898.81       0
33         34    15659428  ...        34410.55       0
34         35    15732963  ...       142033.07       0
35         36    15794171  ...        27822.99       1
36         37    15788448  ...       114066.77       0
37         38    15729599  ...        98453.45       0
38         39    15717426  ...        40812.90       0
39         40    15585768  ...       178074.04       0
40         41    15619360  ...        70154.22       0
41         42    15738148  ...       181297.65       1
42         43    15687946  ...        94153.83       0
43         44    15755196  ...       194365.76       1
44         45    15684171  ...       158338.39       0
45         46    15754849  ...       126517.46       0
46         47    15602280  ...       119708.21       1
47         48    15771573  ...       117622.80       1
48         49    15766205  ...        90878.13       0
49         50    15771873  ...       194099.12       0

[50 rows x 14 columns]

In [4]:
dataset.Geography.value_counts()

France     5014
Germany    2509
Spain      2477
Name: Geography, dtype: int64

In [5]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categ√≥ricos

In [6]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X[:, 2])

[0 0 0 ... 0 1 0]

In [7]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [8]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [9]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [10]:
np.shape(X_train)

(8000, 12)

In [11]:
X_train

array([[-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [ 0.98560362, -0.5698444 , -0.57369368, ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-1.01460667, -0.5698444 ,  1.74309049, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [-1.01460667,  1.75486502, -0.57369368, ...,  0.64259497,
        -1.03227043,  0.32472465]])

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [12]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [13]:
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

### Adding the second hidden layer

In [14]:
ann.add(tf.keras.layers.Dense(units=6, activation='elu'))

### Adding the output layer

In [15]:
ann.add(tf.keras.layers.Dense(units=1, activation='selu'))

### Compiling the ANN

In [16]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

## Part 3 - Training the ANN

### Training the ANN on the Training set

In [17]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 1ms/step - loss: 2.3741 - accuracy: 0.6660
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 1.9130 - accuracy: 0.6955
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 1.6231 - accuracy: 0.7251
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 1.5204 - accuracy: 0.7149
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 1.4703 - accuracy: 0.7218
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 1.4063 - accuracy: 0.7346
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 1.2623 - accuracy: 0.7283
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 1.1139 - accuracy: 0.6865
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.9361 - accuracy: 0.6413
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8848 - accuracy: 0.6892
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.8287 - accuracy: 0.7141
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.7866 - accuracy: 0.7315
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6698 - accuracy: 0.7116
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.6192 - accuracy: 0.7327
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5927 - accuracy: 0.7619
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5392 - accuracy: 0.7655
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5230 - accuracy: 0.7803
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5125 - accuracy: 0.7868
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.5071 - accuracy: 0.7920
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4958 - accuracy: 0.7954
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4869 - accuracy: 0.7974
Epoch 22/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4712 - accuracy: 0.7969
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4643 - accuracy: 0.7981
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4602 - accuracy: 0.7986
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4569 - accuracy: 0.7990
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4508 - accuracy: 0.8006
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4465 - accuracy: 0.7999
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4447 - accuracy: 0.8019
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4500 - accuracy: 0.8019
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4421 - accuracy: 0.8029
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4378 - accuracy: 0.8027
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4522 - accuracy: 0.8039
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4328 - accuracy: 0.8015
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4276 - accuracy: 0.8019
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4278 - accuracy: 0.8029
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4243 - accuracy: 0.8051
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4206 - accuracy: 0.8070
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4173 - accuracy: 0.8092
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4139 - accuracy: 0.8131
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4069 - accuracy: 0.8154
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4026 - accuracy: 0.8204
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3969 - accuracy: 0.8257
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3894 - accuracy: 0.8311
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4179 - accuracy: 0.8336
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3942 - accuracy: 0.8374
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3883 - accuracy: 0.8364
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3832 - accuracy: 0.8403
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3799 - accuracy: 0.8413
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3766 - accuracy: 0.8446
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3744 - accuracy: 0.8453
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3726 - accuracy: 0.8478
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3708 - accuracy: 0.8490
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3769 - accuracy: 0.8514
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3726 - accuracy: 0.8505
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3629 - accuracy: 0.8543
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3915 - accuracy: 0.8431
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3771 - accuracy: 0.8508
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3666 - accuracy: 0.8536
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3617 - accuracy: 0.8566
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3586 - accuracy: 0.8577
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3573 - accuracy: 0.8580
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3553 - accuracy: 0.8580
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3541 - accuracy: 0.8579
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3527 - accuracy: 0.8585
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3514 - accuracy: 0.8570
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3502 - accuracy: 0.8591
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3494 - accuracy: 0.8577
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3486 - accuracy: 0.8569
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3495 - accuracy: 0.8581
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3473 - accuracy: 0.8590
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3464 - accuracy: 0.8597
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3458 - accuracy: 0.8590
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8593
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3594 - accuracy: 0.8597
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3630 - accuracy: 0.8579
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3482 - accuracy: 0.8597
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3460 - accuracy: 0.8608
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3948 - accuracy: 0.8363
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3679 - accuracy: 0.8521
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3547 - accuracy: 0.8580
Epoch 81/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3492 - accuracy: 0.8599
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3471 - accuracy: 0.8587
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3557 - accuracy: 0.8593
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8590
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3444 - accuracy: 0.8590
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8587
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8605
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3431 - accuracy: 0.8597
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3416 - accuracy: 0.8599
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3429 - accuracy: 0.8612
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3641 - accuracy: 0.8569
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3561 - accuracy: 0.8577
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3506 - accuracy: 0.8593
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3448 - accuracy: 0.8590
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3513 - accuracy: 0.8602
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3420 - accuracy: 0.8587
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3403 - accuracy: 0.8612
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3395 - accuracy: 0.8600
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3410 - accuracy: 0.8614
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3425 - accuracy: 0.8618

# Parte 3 - Fazendo predi√ß√µes e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [21]:
y_pred = ann.predict(X_test)
y_pred

array([[0.19987266],
       [0.31347615],
       [0.21973704],
       ...,
       [0.28525844],
       [0.11357503],
       [0.1583806 ]], dtype=float32)

In [19]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [20]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1549   46]
 [ 221  184]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)