# REDES NEURAIS ARTIFICIAIS

[Aula 3 de Deep Learning](http://bit.ly/dn-unb03) da Engenharia de Software da UnB

# Parte 1 - Pré-processamento dos Dados

### Importar as libs

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

In [2]:
tf.__version__

'2.5.0'

### Importar o dataset

In [3]:
dataset = pd.read_csv('Churn_Modelling.csv')
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [4]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values
print("X >>\n",X)
print("y >>\n",y)

X >>
 [[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]
y >>
 [1 0 1 ... 1 1 0]

### Transformando os dados categóricos

In [5]:
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])
print(X)
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]
[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

# Dividindo o dataset em conjunto de treinamento e conjunto de teste

In [6]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

# Feature Scaling

In [7]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [8]:
np.shape(X_train)

(8000, 12)

---
# Parte 2 -Vamos construir uma ANN!

### Initializing the ANN

In [19]:
ann = tf.keras.models.Sequential()

### Adding the input layer and the first hidden layer

In [20]:
ann.add(tf.keras.layers.Dense(units=6, activation='softmax'))

### Adding the second hidden layer

In [21]:
ann.add(tf.keras.layers.Dense(units=6, activation='softmax'))

### Adding the output layer

In [22]:
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

## Part 3 - Training the ANN

### Compiling the ANN

In [23]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

### Training the ANN on the Training set

In [28]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 50)

Epoch 1/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3355 - accuracy: 0.8630
Epoch 2/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3355 - accuracy: 0.8631
Epoch 3/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3353 - accuracy: 0.8646
Epoch 4/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3354 - accuracy: 0.8620
Epoch 5/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3351 - accuracy: 0.8641
Epoch 6/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3352 - accuracy: 0.8644
Epoch 7/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8635
Epoch 8/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8646
Epoch 9/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8656
Epoch 10/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8627
Epoch 11/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8649
Epoch 12/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3351 - accuracy: 0.8649
Epoch 13/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3349 - accuracy: 0.8639
Epoch 14/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8646
Epoch 15/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3348 - accuracy: 0.8629
Epoch 16/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8644
Epoch 17/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3350 - accuracy: 0.8636
Epoch 18/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8634
Epoch 19/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8629
Epoch 20/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8648
Epoch 21/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3347 - accuracy: 0.8643
Epoch 22/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3344 - accuracy: 0.8650
Epoch 23/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3349 - accuracy: 0.8648
Epoch 24/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3344 - accuracy: 0.8641
Epoch 25/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8641
Epoch 26/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3347 - accuracy: 0.8648
Epoch 27/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8640
Epoch 28/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8643
Epoch 29/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3346 - accuracy: 0.8646
Epoch 30/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8637
Epoch 31/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8633
Epoch 32/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3343 - accuracy: 0.8649
Epoch 33/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3345 - accuracy: 0.8640
Epoch 34/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8645
Epoch 35/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8634
Epoch 36/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3341 - accuracy: 0.8652
Epoch 37/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8639
Epoch 38/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3345 - accuracy: 0.8643
Epoch 39/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8648
Epoch 40/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8631
Epoch 41/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8641
Epoch 42/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3343 - accuracy: 0.8645
Epoch 43/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8629
Epoch 44/50
250/250 [==============================] - 1s 3ms/step - loss: 0.3342 - accuracy: 0.8644
Epoch 45/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3339 - accuracy: 0.8631
Epoch 46/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8639
Epoch 47/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3342 - accuracy: 0.8644
Epoch 48/50
250/250 [==============================] - 1s 2ms/step - loss: 0.3340 - accuracy: 0.8652
Epoch 49/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3339 - accuracy: 0.8656
Epoch 50/50
250/250 [==============================] - 0s 2ms/step - loss: 0.3341 - accuracy: 0.8637

# Parte 3 - Fazendo predições e avaliando o modelo

## Prevendo os resultados com o conjunto de testes

In [29]:
y_pred = ann.predict(X_test)
y_pred

array([[0.25132394],
       [0.30474043],
       [0.16493532],
       ...,
       [0.13488448],
       [0.22318926],
       [0.18034121]], dtype=float32)

In [30]:
y_pred = (y_pred > 0.5)
y_pred

array([[False],
       [False],
       [False],
       ...,
       [False],
       [False],
       [False]])

# Criando uma Confusion Matrix

In [31]:
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
print(cm)

[[1504   91]
 [ 186  219]]

# FIM

> Professor Diego Dorgam  
> [@diegodorgam](https://twitter.com/diegodorgam)